* {
    box-sizing: border-box;
}

body {
    padding: 10px;
}

.brand {
    display: flex;
    color:black;
    justify-content: center;
    font-family: "Snell Roundhand";
    font-weight: normal;
    font-size: 60px;
}

.brand-header {
    border-bottom: 3px solid black;
}

.row-1 {
    display: flex;
    border: 1px solid black;
    border-bottom: 3px solid black;
    align-items: stretch;
    width: 100%;
}

.row-2 {
    display: flex;
    border: 1px solid black;
    border-bottom: 3px solid black;
    align-items: stretch;
    width: 100%;
}

.news {
    border-right: 1px solid black;
    padding: 0 10px;
}

.column-1 {
    width: 25%;
}
.column-2 {
    width: 50%;
}
.column-3 {
    width: 25%;
}
.column-4 {
    width: 25%;
}
.column-5 {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    padding: 0;
    margin: 0;
    width: 75%;
}

.title {
    display: flex;
    color: black;
    justify-content: center;
    font-style: italic;
    font-weight: normal;
}

.puppy {
    width: 100%;
}

.link {
    font-size: 30px;
    padding-left: 30px;
    font-weight: bold;
    font-family: "Futura";
    color: #666;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

.linked{
    width: 100%;
    display: flex;
    align-items: center;
}

.linked.row1 {
    background-color: mistyrose;
}
.linked.row2 {
    background-color: peachpuff;
}
.linked.row3 {
    background-color: honeydew;
}
.linked.row4 {
    background-color: powderblue;
}
.linked.row5 {
    background-color: palegreen;
}
